
@{
    ViewBag.Title = "Ajouter";
}

<h2>Ajouter</h2>


@using (Html.BeginForm("Ajouter", "Home"))
{
    <p>Age</p>
    @Html.Editor("Age");
    <br />
    @Html.ValidationMessage("Age");
    <br />
    <p>Nom</p>
    @Html.Editor("Nom");
    <br />
    @Html.ValidationMessage("Nom");
    <br />
    <p>Prenom</p>
    @Html.Editor("Prenom");
    <br />
    @Html.ValidationMessage("Prenom");
    <br />
    <p>Enfant</p>
    @Html.CheckBox("Enfants");
    <br />
    @Html.ValidationMessage("Enfants");
    <br />
    <input type="submit" name="but" value="Ajouter" />

    <p>@ViewBag.count</p>
}
